*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 2rem;
}
section.home{
    width: 100%;
    height: 500px;
    background-color: #f4f1e8;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.home img{
    width: 250px;
    border-radius: 5px 125px 5px 125px;
}
section.about{
    width: 100%;
    /* height: 250px; */
    background-color: #9b4819;
    color: #f4f1e8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.about h2{
    margin-top: 50px;
}
.about img{
    max-width: 1024px;
}
.information{
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

section.port{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f1e8;
}

.portifolio{
    width: 1024px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tab-noticias{
    width: 1024px;
    margin-bottom: 50px;
}

.tab-content{
    display: none;
}
.tab-content.show{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.tabs{
   width: 100%;
   display: flex;
   gap: 10px;
}
.tab-btn{
   width: 100%;
   height: 35px;
   border: none;
   background-color: #9b4819;
   cursor: pointer;
   color: white;
   border-radius: 4px 4px 0 0;
}
.tab-btn:hover{
   background-image: linear-gradient(to bottom, #c0764b, #9b4819);
   color: white;
}
.tab-btn.active {
   background-color: var(--orange);
   color: black;
   border: 1px solid #9b4819;
   border-bottom: none;
}
.tab-btn.active:hover{
    color: white;
}
.tab-contents{
   /* background-color: #141414; */
   min-height: 108px;
   border-radius: 0 0 4px 4px;
   padding: 20px;
   border: 1px solid #9b4819;
}
.materias{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
}
.materia{
    width: 300px;
    height: 250px;
    /* background-color: white; */
}
.materias-destaque{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-imagem-destaque{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 0px;

    a{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18pt;
        font-weight: 600;
        text-decoration: none;
        color: #9b4819;

        &:hover{
            color: #4d2c19;
            text-decoration: underline;
        }
    }
}


.fotojornalismo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.fotojornalismo img{
    max-width: 310px;
}

.instagram{
    display: flex;
    gap: 0px;
}

.videos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.videos-shorts {
    display: flex;
    gap: 20px;
}

.audio{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.audio img{
    width: 100px;
    height: 100px;
    object-fit: cover; /* Garante que a imagem fique bem ajustada */
    border-radius: 10px; /* Bordas arredondadas opcionais */
}

.contato{
    background-color: #9b4819;
    color: #f4f1e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

@media (max-width:634px){
    section.home{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
    }
    section.home h1{
        font-size: 1.8rem;
        padding: 10px;
        margin-top: -20px;
    }
    section.home h2{
        font-size: 1.2rem;
        padding: 10px;
        margin-top: -10px;
    }
    section.about .information{
        width: 100%;
    }
    section.about .information > h2, p  {
        padding: 10px;
    }
    section.about img{
        width: 100%;

    }
    .tab-noticias{
        max-width: 100%;
    }
}